# Backend server port
PORT=5001

# Database URL for SQLite
DATABASE_URL="file:./prisma/dev.db"

# JWT Secret token for authentication encryption
JWT_SECRET="super-secret-vendorbridge-key-2026-draft"

# SMTP Nodemailer configuration (Fill in your details for real email testing)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Custom Sender (Officer) and Recipient (Vendor / Friend) Email addresses
SENDER_EMAIL=
VENDOR_EMAIL=
